body{
    background-color: aqua; 
}
h1{
text-align: center;
text-decoration: underline;
color :rgb(255, 140, 140);
text-indent: 30px;

}
h2{
text-align: center;
color:beige;
text-transform: initial;

}
h3{
text-align: center;
color :darksalmon;
text-decoration: line-through;
}

p{
text-align: justify;
color:black;
letter-spacing: normal;

}